@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap");
body {
  font-family: "Open Sans";
  margin: 0;
  background-color: #f2f2f2;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10rem;
  width: 600px;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  margin: 0 0 0.5rem 0;
}

button {
  width: 80%;
  padding: 0.75rem 1rem;
  color: #ffffff;
  background-color: #1b74e4;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* Acceso */
.acceso {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.acceso-container {
  width: 100%;
  padding: 2rem 0;
  display: grid;
  gap: 1.5rem;
  grid-template-rows: 1fr 1fr;
  background-color: #ffffff;
  border-radius: 8px;
}

.mensaje-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Cuenta */

img {
  width: 13px;
}

.cuenta {
  width: 100%;
  display: none; /* display: none / flex */
  flex-direction: column;
  align-items: center;
}

.cuenta-login {
  width: calc(100% - 6rem);
  display: none; /* display: none / flex */
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: 8px;
  border: 2px solid #e4e4e4;
}

form {
  width: 100%;
  display: grid;
  grid-template-rows: 3fr 2fr;
  margin-bottom: 1rem;
}

.inputs-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  & input {
    padding: 1rem;
    border: 3px solid #e4e4e4;
    border-radius: 8px;
  }
  & ::placeholder {
    color: #b1b1b1;
    opacity: 1;
  }
}

.action-login {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;

  & button {
    width: 100%;
  }
}

.disabledBtn {
  background-color: #b1b1b1;
  cursor: default;
}

.enabledBtn {
  background-color: #1b74e4;
  cursor: pointer;
}

.link {
  display: flex;
  gap: 6px;

  & a {
    color: #1b74e4;
    text-decoration: none;
  }
}

.acceso-redes {
  background-color: #f2f2f2;
  width: calc(100% - 4rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 8px;
  border-radius: 8px;
}

.redes-login {
  width: calc(100% - 2rem);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  background-color: #1b74e4;
  border-radius: 8px;
  color: #ffffff;
  cursor: pointer;
  &:last-child {
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #bbbbbb;
    margin-bottom: 1.25rem;
  }

  & p {
    text-align: center;
    margin: 0;
  }

  & img {
    width: 30px;
  }
}

.mensaje-redes {
  text-align: center;
  margin-bottom: 1rem;
}

/* Nueva cuenta */

.cuenta-nueva {
  width: 100%;
  display: none; /* display: none */
  grid-template-columns: 1fr 1fr;
  padding: 2rem 0;
  gap: 8px;
}

.nueva-cuenta-opcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 2rem 2rem 1rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  & img {
    width: 30px;
  }
}
